@charset "utf-8";
/*初始化css*/
*{
  font-family: Arial,PingFangSC-Regular, sans-serif,"Microsoft YaHei", "微软雅黑";
}
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul {margin:0;padding:0}
body,button,input,select,textarea { font:12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif}
h1,h2,h3,h4,h5,h6 {font-size:100%}
address,cite,dfn,em,var {font-style:normal}
code,kbd,pre,samp {font-family:courier new,courier,monospace}
small {font-size:12px}
ol,ul {list-style:none}
a {text-decoration:none}
a:hover {text-decoration:underline}
sup {vertical-align:text-top}
sub {vertical-align:text-bottom}
legend {color:#000}
fieldset,img {border:0}
button,input,select,textarea {font-size:100%}
table {border-collapse:collapse;border-spacing:0}
i{font-style: normal;}

@font-face {
  font-family: '書體坊顏體㊣';
  src: url('../fonts/书体坊颜体.ttf');
}
@font-face {
  font-family: '叶根友毛笔行书简体';
  src: url('../fonts/叶根友毛笔行书简体.ttf');
}
@font-face {
  font-family: '华文新魏';
  src: url('../fonts/华文新魏.ttf');
}
@font-face {
  font-family: '方正风雅宋简体';
  src: url('../fonts/方正风雅宋简体.ttf');
}